<nav id="nav_bar">
  <ul>
    <li><a class="pages" id="inBox" href="/">inBox</a></li>
    <li>
      <form class="" action="/item_search" method="POST">
     <!-- <label for="item">What item do you want to search for</label>  -->
      <input id="searchInput" type="text" name="item" placeholder="Search for item" required />
      <button id="searchButton" type="submit" name="" value="Search"></button>
      </form>
    </li>
    <li><a class="pages" href="/search">Search List</a></li>
  </ul>
</nav>

<!-- <img id="background" src="http://catsatthestudios.com/wp-content/uploads/2017/12/12920541_1345368955489850_5587934409579916708_n-2-960x410.jpg" alt=""> -->
