

<form class="" action="/index" method="POST">
  <label for="item">What item do you want to search for</label>
  <input type="text" name="item" value="">
  <input type="submit" name="" value="Submit">
</form>
