<nav id="nav_bar">
  <ul>
    <li><a class="pages" href="/index">Homepage</a></li>
    <li><a class="pages" href="/search">Search List</a></li>
    <form class="" action="/index" method="POST">
     <%# <label for="item">What item do you want to search for</label> %>
     <li><input id="searchButton" type="submit" name="" value="Search">
     <input id="searchInput" type="text" name="item" value="" placeholder="Search for item"></li>
   </form>
  </ul>

</nav>
