<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>

    <% include partials/item_nav.ejs %>
<!--
    <form class="" action="/index" method="POST">
      <label for="item">What item do you want to search for</label>
      <input type="text" name="item" value="">
      <input type="submit" name="" value="Submit">
    </form> -->

      <script>
        function myFunction() {
            var x = document.getElementById("mySearch").placeholder;
            document.getElementById("demo").innerHTML = x;
        }
      </script>
    </form>
  </body>
</html>
