<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="text/javascript" src="/scripts/script.js"></script>
  </head>
  <body>
    <% include partials/item_nav.ejs %>
    <div id="results"></div>
    <% get_api_results %>
      

                
      

  </body>
</html>
