<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <% include partials/item_nav.ejs %>
    <div id="results"></div>
    <script>
    mongoose.connect("mongodb://ebayTest:ebayTest1@ds261929.mlab.com:61929/ebay-db");

    var itemSearchSchema = new mongoose.Schema({
      item: String
    });

    var ItemSearch = mongoose.model('ItemSearch', itemSearchSchema);
    
    </script>

    <script type="text/javascript" src="/scripts/return_search_api.js"></script>
  </body>
</html>
