<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eBay Search Results</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <% include partials/item_nav.ejs %>
    <div id="results"></div>

    <script type="text/javascript" src="/scripts/return_search_api.js"></script>
  </body>
</html>
