<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search List</title>
    <script
			  src="http://code.jquery.com/jquery-1.12.4.js"
			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			  crossorigin="anonymous"></script>
        <script src="/assets/items_to_search_for.js">

        </script>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h1>My eBay Search List</h1>
    <div id="ebay_search_table">

      <form>
        <input type="text" name="item" value="" placeholder="Add New Item" required />
        <button type="submit" name="button">Add item to search for</button>
      </form>
      <ul>
         <% for(var i=0; i < itemSearches.length; i++){ %>
           <li><%= itemSearches[i].item %></li>
           <% } %>
      </ul>
    </div>
  </body>
</html>
