body {
  font-family: "Playfair Display";
  color: #989898;
  margin: 0;
  background-repeat: no-repeat;
}

a {
  font-size: 16px;
}


#background {
  z-index: -1;
  height:500px;
  width: 100%;
  position: absolute;

}

h1 {
  color: #777;n
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-left: 5px;
}

/* p {
  margin: 0 0 5px;
} */

tr {
  border-bottom: 1px solid #CCC;
  padding: 15px 0;
  display: block;
}

li {
  float: left;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  margin-left: 50px;
}

.searchItems{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* font-family: arial; */
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

.searchItems:hover{
  text-decoration: line-through;
  background: rgba(0,0,0,0.2);
}

.pages {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 25px; */
  text-decoration: none;
  color: black;
  /* font-family: monospace; */
  padding: 20px;
}

.pages:hover {
  text-decoration: underline;
}

.image-container {
  text-align: center;
  border: 1px solid #CCC;
  width: 150px;
}

.data-container {
  vertical-align: top;
  padding-left: 15px;
}

.item-link, .item-link:hover, .item-link:visited, .item-link:active {
  text-decoration: none;
  color: #333;
}

.title {
  color: #5786bd;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 12px;
}

.price {
  color: #333;
  font-weight: bold;
}

.bin {
  color: #777;
  font-size: 12px;
}

.fs {
  font-size: 12px;
  font-weight: bold;
}

/* body{
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
} */

#search_results {
  background-color: blue;
}

#ebay_search_table{
  position: absolute;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#ebay_search_table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

#searchInput {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  /* font-size: 25px; */
  text-decoration: none;
  color: black;
  /* font-family: monospace; */
  height: 20px;
  vertical-align: baseline;
  margin-top: 20px;
}

#searchButton {
  display: block;
  float: right;
  /* padding: 6px; */
  /* margin-top: 8px; */
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#nav_bar {
  background-color: #d8d8d8;
  height: 65px;
}

/* h1{
  background: url(/assets/logo.png) no-repeat center;
  margin-bottom: 0;
  text-indent: -10000px;
} */

            
.price {
  position: absolute;
  padding-left: 50px;
}

.image{
  padding-right: 30px;
}

